<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runtext</title>
</head>
<body style="display: flex; justify-content: space-between; flex-direction: column; height: 100vh; align-items: center; margin: 0px; background-color: cornsilk;">
    <header style="background-color: aliceblue; width: 100vw; text-align: center;">Стажёр Python <b>Калиганов Николай</b></header>
    <main style="background-color: antiquewhite; border-color: black; border-style: solid; padding: 2em;">
        <p>Пожалуйста, добавьте к адресу '/runtext/runtext?text=' и далее ваш текст.</p>
        <a href="runtext/runtext?text=Hello World!">Пример с фразой "Hello Wordl!"</a>
        <form action="runtext/runtext">
            <p>Вы также можете ввести ваш текст ниже и нажать кнопку:</p>
            <input type="text" id="text" name="text">
            <button>Создать видео</button>
        </form>
    </main>
    <footer style="color: white; background-color: black; width: 100vw; text-align: center;">2024 <a href="https://github.com/kaliganoff"><img style="filter: invert(100%); height: 1em; margin-top: .2em;" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""></a></footer>
</body>
</html>